{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": ["node_modules/"],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  }
}
